@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');




.navigation-bar{
    background-color: #0260be;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    width: auto;
}
.navigation-menu{
    display: flex;
    flex-direction: row;
}
.navigation-menu ul{
    display: flex;
    flex-direction: row;
}
.navigation-icons ul{
    width: 200px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.dark_target{
    background-color:rgb(30,30,30) ;
    color: white;
}
.navigation-icons ul li{
    
    
}
.navigationBar{
    z-index:+1 ;
    position: sticky;
    width: auto;
    color: white;
    height: 130px;
    padding: 0%;
    background-color: #0260be;
    font-size: 10px;
    padding-top: 20px;
          
    margin-bottom: 100px;
   
   
}
.navigationBar_dark_mode{
    background-color: rgb(26, 26, 26);
   
}


#navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;

}
#logoblock{
    margin-left: 50PX;
    height: 100px;
    margin-right: 70PX;
    color: white;
}
#logoMovie{
   margin-top: 22px;
   font-size: 40px;
   font-family: 'Russo One', sans-serif;
}
.img-logo{
    margin-top: 15px;
    width: 200px;
    box-sizing: 200px;
}
#logoMovie{
    margin-top: 22px;
    font-size: 40px;
    font-family: 'Russo One', sans-serif;
 }

#linksblock{
    display: flex;
    flex-direction: row;
    
    height: 100px;
    color: white;
    

}
.navbaritem{
    font-weight: bold;
    
    display: flex;
    flex-direction: row;
    margin-left:20px ;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    width:max-content ;

}


@media (max-width:420px) {
    .navigation-bar{
        width:100vmin;

        flex-direction: column;
        display: inline-flex;
    }
    .navigation-menu{
        display: flex;
        flex-direction: row;
    }
    .navbaritem {
        margin-left:5px ;
        margin-right: 5px;
    }
    .navbaritem a p{
        font-size: 10px;
    }
    .navbaritem a p{
        font-size: 12px;
    }
    .navigation-icons ul{
    
        justify-content: space-between;
    }

    .navigation-icons ul li i{
        font-size: 22px;
    }
    .navigation-icons ul li a i{
        font-size: 22px;
    }

    
    

}

