@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');




.navigation-bar{
    background-color: #0260be;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    width: auto;
}
.navigation-menu{
    display: flex;
    flex-direction: row;
}
.navigation-menu ul{
    display: flex;
    flex-direction: row;
}
.navigation-icons ul{
    width: 200px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbaritem a p{
        text-transform:uppercase;
   }

.navigation-icons ul li{
    
    
}
.navigationBar{
    z-index:+1 ;
    position: sticky;
    width: auto;
    color: white;
    height: 130px;
    padding: 0%;
    background-color: #0260be;
    font-size: 10px;
    padding-top: 20px;
          
    margin-bottom: 100px;
   
   
}
.navigationBar_dark_mode{
    background-color: rgb(26, 26, 26);
   
}


#navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;

}
#logoblock{
    margin-left: 50PX;
    height: 100px;
    margin-right: 70PX;
    color: white;
}
#logoMovie{
   margin-top: 22px;
   font-size: 40px;
   font-family: 'Russo One', sans-serif;
}
.img-logo{
    margin-top: 15px;
    width: 200px;
    box-sizing: 200px;
}
#logoMovie{
    margin-top: 22px;
    font-size: 40px;
    font-family: 'Russo One', sans-serif;
 }

#linksblock{
    display: flex;
    flex-direction: row;
    
    height: 100px;
    color: white;
    

}
.navbaritem{
    font-weight: bold;
    
    display: flex;
    flex-direction: row;
    margin-left:20px ;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    width:max-content ;

}


@media (max-width:720px) {
    .navigation-bar{
        width:100vmin;

        flex-direction: column;
        display: inline-flex;
    }
    .navigation-menu{
        display: flex;
        flex-direction: row;
    }
    .navbaritem {
        margin-left:5px ;
        margin-right: 5px;
    }
    .navbaritem a p{
        font-size: 10px;
    }
    .navbaritem a p{
        font-size: 12px;
    }
    .navigation-icons ul{
    
        justify-content: space-between;
    }

    .navigation-icons ul li i{
        font-size: 22px;
    }
    .navigation-icons ul li a i{
        font-size: 22px;
    }

    
    

}

footer {
    background: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
.footerMenu {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;

    color: white;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;

    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}
.footer-menu-sub-container-links {
    display: flex;
    margin-top: 100px;
}
.footerMenu__list {
    list-style-type: none;
    border-top: 3px solid white;
    margin-left: 10px;
    margin-right: 10px;
    top: 50%;
    bottom: 0%;
}
.footer-menu-sub-container-box span {
    margin-top: 20px;
    font-weight: 700;
}
.footer-menu-sub-container-box h3 {
    color: #238ffa;
    font-weight: 900;
    padding-bottom: 25px;
}
.footer-menu-sub-container-box p {
    color: white;
}
.footer-menu-sub-container-box img {
    border-top: 1px solid white;
    padding-top: 20px;
}

.legalFooter {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.404);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0260be;
    color: white;
}
.legalFooter__description p {
    font-size: smaller;
    color: white;
}
.footerMenu__listItem {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: smaller;
}
.legalFooter_socialIcons img {
    height: 34px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    filter: brightness(0) invert(1);
}