body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30vmax;
    background-color: #e5eef7;
    font-size: 0.6vmax;
  }
  
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }
  th{
    text-transform: uppercase;
    border: 1px solid white;
  }
  
  tr:nth-child(even) {
    background-color: #f4f3f3;
   

}
center p{
    font-size: 1.5vmax;
    font-weight: 600;
}

