$poppins: 'Poppins', sans-serif;
$background: #FAFAFC;
$shadow: 0 4px 12px -2px rgba(#6B75A1, .16);
$c-darkGray: #4a4a4e;
$ease: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

body {
   font-family: $poppins;
   background: $background;
   color: $c-darkGray;
   transition: .2s all;
}
.dark {
   background: #181818;
}


.element {
   position: relative;
}

 input[type=checkbox].toggle-switch {
    transform: rotate(90deg);
    
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    cursor: pointer;
    
    // Since this is rotated 90deg 
    // height and width are reversed
    
    /* width of the track */
    width: 4em;
    /* height of the track */
    height: 1.5em;
    border-radius: 3em;
    background-color: #ebebeb;
    
    transition: background-color 0.09s ease-in-out;
    position: relative;
    
    &:active::after {
       background-color: #f2f2f2;
       padding-right: .8em;
   }
    
   &::after {
      content: '';
      /* toggle shape -- 
     height should equal width 
     to maintain circle */
      width: 2em; 
      height: 2em;
      background-color: white;
      border-radius: 3em;
      position: absolute;
      left: -5px;
      top: 50%;
      transform: translateY(-50%);
      transition: left .3s cubic-bezier(
          0.175, 0.885, 0.320, 1.275
        ),
        padding .3s ease, margin .3s ease;
      box-shadow: 2px 0px 5px 0 rgba(0,0,0,0.15);
   }
}

input[type=checkbox].toggle-switch:checked {
   background-color: #333;
   &:active::after {
      margin-left: -.8em;
   }
   &::after {
      // Location of toggle handle when checked
      // should equal ~ .5 of the width of
      // input[type=checkbox].toggle-switch
      left: 2em;
      background-color: #242424;
   }
}

.opts {
   color: gray;
}

.opt-1 {
   color: black;
}

.opt-1,
.opt-2 {
   transition: .2s all;
}

.active {
   .opt-1{
      color: gray;
   }
   .opt-2 {
      color: white;
   }
}

.checkbox-wrap {

}

